a.btn.btn-default.btn-transparent.btn-xs.btn-icon.btn-action href='/#{object.pluralize}#/edit/{{ #{object}.id }}'
  span.glyphicon.glyphicon-cog
a.btn.btn-transparent.btn-default.btn-xs.btn-icon.btn-action href='javascript:;' ng-really-message='Are you sure?' ng-really-click='destroy(#{object})'
  span.glyphicon.glyphicon-trash

