a.btn.btn-default.btn-transparent.btn-xs.btn-icon.btn-action href='javascript:;' ng-click='edit(#{object})'
  span.glyphicon.glyphicon-cog
a.btn.btn-danger.btn-xs.btn-icon.btn-action href='javascript:;' ng-really-message='Are you sure?' ng-really-click='destroy(#{object})'
  span.glyphicon.glyphicon-trash

